.cart-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: thin black solid;
  .product-info {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
  }
  img {
    height: 130px;
  }
  input[type="button"] {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 600px) {
  .cart-and-total {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 93%;
    margin: 0 auto;
    .cart {
      width: 50%;
      overflow-y: auto;
      max-height: 50vh;
    }
    .total {
      margin: 10% 20% 0 20%;
    }
  }
}
