#cart-preview {
  display: none;
  z-index: 1;
  border: thin black solid;
  background-color: white;
  width: 400px;
  overflow-x: auto;
  position: absolute;
  top: 70%;
  right: 0;
  .cart-items {
    padding: 10px 0;
    width: 100%;
    border: solid thin black;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    img {
      height: 100px;
      width: 100px;
    }
    p {
      width: 50%;
    }
    input {
      color: red;
      height: 30px;
      border-bottom: thin black solid;
      margin: 23px 0;
    }
  }
}

@media only screen and (min-width: 600px) {
  #cart:hover {
    #cart-preview {
      display: block;
    }
  }
}
