.nav-container {
  .nav-top-layer {
    position: fixed;
    width: 100vw;
    z-index: 15;
    border-bottom: black thin solid;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;

    .category-menu {
      display: hidden;
      text-align: left;
      position: absolute;
      background-color: black;
      opacity: 0.8;
      color: white;
      padding: 10px;
      width: 40%;
      height: 100vh;
      right: 0;
      top: 40px;
      z-index: 2;
    }
  }
}

.nav-bottom-layer {
  background-color: white;
  border-top: solid black thin;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}
.icon {
  height: 40px;
  width: 40px;
}

.search-icon {
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

@media only screen and (min-width: 600px) {
  .nav-container {
    width: 94%;
    margin: auto;
    .nav-top-layer {
      position: relative;
      margin-top: 10px;
      border-bottom: none;
      .category-menu {
        width: 25vw;
        z-index: 15;
        font-size: 25px;
      }
    }
    .nav-bottom-layer {
      position: relative;
      display: flex;
      justify-content: space-between;
      .bottom-nav-right-sec,
      .bottom-nav-right-sec > * {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        button {
          margin: 7px 12px;
        }
      }
    }
  }
}
