.product-details {
  width: 80vw;
  display: flex;
  .description {
    margin: 0 30px;
    text-align: left;
    width: 45%;
    p:last-of-type {
      display: flex;
      justify-content: space-between;
      margin: 50px 0;
      font-size: 30px;
    }
    h2 {
      margin: 50px 0;
      font-size: 40px;
      font-weight: 500;
    }
  }
  img {
    width: 45%;
    height: fit-content;
  }
}
