.product-display {
  height: 350px;
  width: 240px;
  img {
    width: 100%;
  }
  .product-info {
    text-align: left;
    h2 {
      font-weight: normal;
      margin: 0;
      font-size: 17px;
      width: 80%;
    }
    h2:first-of-type {
      font-weight: 600;
    }
  }
  .plus-button {
    width: fit-content;
    margin: 0 0 0 90%;
    background-color: white;
  }
}
