.product-display {
  height: 210px;
  width: 150px;
  position: relative;
  img {
    width: 100%;
  }
  .product-info {
    text-align: left;
    width: 80%;
    h2 {
      font-weight: normal;
      margin: 0;
      font-size: 17px;
    }
    h2:first-of-type {
      font-weight: 600;
    }
  }
  .plus-button {
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
  }
}

@media only screen and (min-width: 600px) {
  .product-display {
    height: 252px;
    width: 180px;
    margin: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .product-display {
    height: 350px;
    width: 240px;
  }
}
