.product-display {
  height: 350px;
  width: 240px;
  position: relative;
  img {
    width: 100%;
  }
  .product-info {
    text-align: left;
    width: 80%;
    h2 {
      font-weight: normal;
      margin: 0;
      font-size: 17px;
    }
    h2:first-of-type {
      font-weight: 600;
    }
  }
  .plus-button {
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: white;
  }
}
